.route-link {
  margin: 6px;
  padding: 12px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  font-weight:  bold;
}

#ga400-container {
  background-color: #F4BABA;
}

.I-75{
  background-color: #FBE5BB;
}

.I-85 {
  background-color: #D3DDBE;
}

.I-20 {
  background-color: #B7DDD9;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.chart-line {
  stroke-width: 0px;
  opacity: 0;
}

.selected-chart-line {
  stroke: white;
  stroke-width: 2px;
  opacity: 1;
}

.chart-point {
  fill: black;
  stroke: white;
}

.hidden {
  visibility: hidden;
}

.xLabels {
  font-size: 10px;
  fill: lightgrey;
}

div.colorBox {
  height: 15px;
  width: 15px;
  float: left;
  margin: 1px;
}
